// ==================================================
// Settings
// ==================================================

$mainFont       : 'Nunito', sans-serif;
$mainArFont     : 'NeoSansArabicRegular', sans-serif;
$secFont        : 'PingFangSC';
$kidsFont       : 'BrushScriptMT';
$kidsArFont     : 'Aref Ruqaa';

$mainColor      : #13375C !default;
$secColor       : #505F86;
$white          : #fff;
$black          : #000;
$blue           : #3C5EA4;

$bodyColor      : #fafafa;

$white          : #ffffff;
$purple         : #6173a2;
$gray           : #9296A1;
$grayDark       : #8E8E8E;

$orange         : #FF8F00;
$orangeLight    : #FCAE5A;

$red            : #F1254A;
$green          : #50D2C2;
$yellow         : #d0a71c;

$browser-context: 100;

$kidsColor: ("homework": #897AFF, "exam": #66D6D4, "grade": #FECA1F, "evaluation": #FF3D4D, "portfolio": #FA85C5, "project": #F6E6C0, "game": #C0BEEE, "para": #54FBD5);
$kidsDarkColor: ("homework": #776ADF, "exam": #57BDBB, "grade": #EEBD17, "evaluation": #E73745, "portfolio": #E67DB6, "project": #ECD5A0, "game": #8E85D1, "para": #39AA90);